html, body, .main {
	height: 100%;
}
body {
	background-color: blue;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

.main {
	background-image: url(circles.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

.text {
	color: #fff;
	width: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-22%, -25%);
	font-size: 0.7vw;
}